

body {
    background-color: #dedede;
}

h1 {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 32px;
}

a {
    color: #000;
    text-decoration: none;
    font-family: Arial, sans-serif;
}

p {
    font-size: 25px;
    font-family: Arial, sans-serif;
    text-align: center;
}

div img {
    width: 150px;
    height: 150px;
    display: block;
    margin: auto;
}

div {
    width: 90%; 
    display: block; 
    margin: 20px auto; 
    padding: 2px;
    text-align: center;
}


main::after {
    content: "";
    display: table;
    clear: both; 
}

@media screen and (min-width: 772px) {
    div {
        width: 45%; 
        float: left;
        margin: 20px 2.5%; 
    }

    img {
        max-height: 30vh;
    }
}


@media screen and (min-width: 998px) {
    div {
        width: 30%; 
        margin: 20px 1.66%;
    }
}
